// Загальна кнопка
.button {
    min-width: 200px;

    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    border: none;
    border-radius: 4px;

    background-color: getColor('accent');
    color: getColor('white');

    font-family: inherit;
    font-weight: $bold-weight;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $time-animation $time-function;

    // Ховер та фокус
    &:hover,
    &:focus {
        background-color: getColor('btn-hover-cl');
        cursor: pointer;
    }
}

// Анімація бліку
.button--animation {
    position: relative;
    overflow: hidden;

    // Блік
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5em;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        transform: translateX(-3em) skewX(-45deg);
        animation: move-light 3000ms infinite;
    }
}