// Картка продукту в секці портфоліо
.product__item {
    @include size-Cards($number-cards-tel);
}

.product__link {
    display: block;

    transition: box-shadow $animation ;

    // Ховер та фокус
    &:hover,
    &focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                    0 4px 4px rgba(0, 0, 0, 0.06),
                    getColor('shadows-three');

        outline: none;
    }
}

.product__thumb {
    position: relative;
    overflow: hidden;
}

.product__group {
    display: none;
}

// Шапка карточки
.product__header {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid getColor('border-card-cl');
    border-bottom: 1px solid getColor('border-card-cl');
    border-left: 1px solid getColor('border-card-cl');

    color: getColor('primary');
}

// Заголовок та підзаголовок
.product__title {
    @include margin-Title(0px, 4px);
    @extend %title;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.product__subtitle {
    @include margin-Title(0, 0);

    line-height: 1.87;
    letter-spacing: 0.03em;
}

// Планшетна версія
@media screen and (min-width: 768px) {
    .product__item {
        @include size-Cards($number-cards-tb);
    }

    @media screen and (max-width: 1199px) {
        .product__link--grow {
                display: flex;
                flex-direction: column;
        
                .product__header {
                    flex-grow: 1;
                    height: 147px;
                }
            }
    }
}

// Комп'ютерна версія
@media screen and (min-width: 1200px) {
    .product__item {
        @include size-Cards($number-cards-pc);
    }

    // Оверлей карточки
    .product__group {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    padding-top: 63px;
    padding-left: 24px;

    width: 100%;
    height: 100%;

    background-color: getColor('accent');

    transform: translateY(101%);
    opacity: 0.9;

    transition: transform $animation ;

        // Ховер та фокус
        .product__link:hover &,
        .product__link:focus & {
            transform: translateY(0);
        }
    }

    // Опис карточки
    .product__description {
        margin: 0;

        width: 322px;
        color: getColor('white');

        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.03em;
    }
}