// Мобільна версія
.page-header__nav {
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

// Гамбургер
.nav-button {
    position: relative;
    z-index: 3;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    width: 40px;
    height: 40px;

    color: getColor('title');
    background-color: transparent;

    border: none;

    // Ховер та фокус
    &:hover,
    &:focus {
        fill: getColor('accent');
    }

    // Зміна іконок гамбургера
    & .icon-cross {
        display: none;
    }

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }
}

// Спливаюче меню
.nav__thumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: none;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 48px;

    width: 100%;
    height: auto;

    background-color: getColor('white');

    // Поява меню
    &.is-open {
        display: block;
    }
}

// Елменти навігації
.nav__item:nth-child(n+2) {
    margin-top: 32px;
}

.nav__link {
    color: getColor('title');

    font-weight: $medium-weight;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color $animation;

    // Ховер та фокус
    &:hover,
    &:focus {
        color: getColor('accent');
    }
}

// Активна ссилка
.nav__link--active {
    color: getColor('accent');

    // на планшети та ПК
    @media screen and (min-width: 768px) {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 4px;

            background-color: getColor('accent');
            border-radius: 2px;
        }
    }
}

// Контакти сайту
.header-contacts {
    margin-top: 310px;
}
    
.header-contacts__item:nth-child(n+2) {
    margin-top: 32px;
}

.header-contacts__phone {
    color: getColor('accent');

    font-weight: $medium-weight;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color $animation;
}

.header-contacts__email {
    color: getColor('primary');

    font-weight: $medium-weight;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: color $animation;
}

.header-contacts__phone,
.header-contacts__email {
    // Ховер та фокус
    &:hover,
    &:focus {
        color: getColor('accent');
    }
}

.header-contacts__icon {
    display: none;
}
    
// Соц-мережі сайту
.header-networks {
    position: relative;

    display: flex;
    margin-top: 64px;
}

.header-networks__item:nth-child(n+2) {
    // ЛІнія між елементами
    &::before {
        content: '';
        position: absolute;

        height: 100%;
        width: 1px;

        background-color: rgba(33, 33, 33, 0.2);
    }
}

.header-networks__link {
    margin-right: 10px;
    margin-left: 10px;

    color: getColor('accent');

    font-weight: $medium-weight;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.link--margin-not {
    margin-left: 0;
}

// Планшетна версія
@media screen and (min-width: 768px) {
    .page-header__nav {
        margin-left: 88px;
        padding-top: 0;
        padding-bottom: 0;
    }

    // Гамбургер
    .nav-button {
        display: none;
    }


    // Спливаюче меню
    .nav__thumb {
        position: relative;
        z-index: 0;

        display: flex;
        align-items: center;

        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        background-color: transparent;
    }

    // Елменти навігації
    .nav__list {
        display: flex;
    }

    .nav__item:nth-child(n+2) {
        margin-top: 0;
        margin-left: 50px;
    }

    .nav__link {
        position: relative;

        display: inline-block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.14;
    }

    // Контакти сайту
    .header-contacts {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
        margin-left: 59px;
    }

    .header-contacts__item:nth-child(n+2) {
        margin-top: 0;
    }

    .header-contacts__item:nth-child(1) {
        margin-top: 10px;
    }

    .header-contacts__phone,
    .header-contacts__email {
        display: flex;
        align-items: center;

        color: getColor('primary');

        font-size: 14px;
        line-height: 1.14;
    }
    
    .header-contacts__icon {
        display: block;
        margin-right: 10px;
        fill: currentColor;
    }

    // Соц-мережі сайту
    .header-networks {
        display: none;
    }
}


// Комп'ютерна версія
@media screen and (min-width: 1200px) {
    .page-header__nav {
        margin-left: 93px;
    }

    // Контакти сайту
    .header-contacts {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
        margin-left: 302px;
    }

    .header-contacts__item:nth-child(1) {
        margin-top: 0;
        margin-left: 30px;
    }
}