// анімація загрузки сайту
@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}


// анімація пульсуючої книпки
@keyframes puls {
    to {
        transform: scale(2);
        background-color: white;
        opacity: 0;
    }
}

// анміація бліку на кнопці
@keyframes move-light {
    0% {
        transform: translateX(-3em) skewX(-45deg);
    }

    50% {
        transform: translateX(15em) skewX(-45deg);
    }

    100% {
        transform: translateX(15em) skewX(-45deg);
    }
}