// Прибираю горизонтальний скролл
@media screen and (min-width: 320px) {
    html {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .page-body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }
}

// Скидання деяких стилів
.page-body {
    font-family: $main-font;
    color: getColor('primary');

    &.modal-open {
        overflow: hidden;
    }
}

.list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}

.img {
    display: block;
    width: 100%;
}