// Падінги та фон для секцій
@mixin padding-bg-Section($t-px, $b-px, $bg-color) {
    padding-top: $t-px;
    padding-bottom: $b-px;

    background-color: $bg-color;
}

//Відступи для всіх заголовків
@mixin margin-Title($t-px, $b-px) {
    margin-top: $t-px;
    margin-bottom: $b-px;
}

// Колір для підзаголовків
@mixin color-Subtitle($color) {
    color: $color;
}

// Вирахунок розмірів елментів для сітки
@mixin size-Cards($number) {
    flex-basis: calc((100% - (30px * $number)) / $number);
}