// Шрифти
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

// Жирність тексту
$medium-weight: 500;
$bold-weight: 700;

// Кольори та функція їх визову
$colors: (
    // Текст
    'primary': #757575,
    'title': #212121,
    'contact': rgba(255, 255, 255, 0.6),
    'logo': #000000,
    'white': #FFFFFF,
    'accent': #2196F3,

    // Фон
    'main-bg-cl': #2F303A,
    'light-bg-cl': #F5F4FA,
    'dark-bg-cl': rgba(255, 255, 255, 0.1),
    'btn-hover-cl': #188CE8,
    'icon-bg-cl': #AFB1B8,

    // для рамок
    'border-card-cl': #EEEEEE,
    'border-input-cl': rgba(33, 33, 33, 0.2),

    // Тіні
    'shadows-one': 0 2px 1px rgba(0, 0, 0, 0.2),
    'shadows-two':  0 1px 1px rgba(0, 0, 0, 0.14),
    'shadows-three': 0 1px 3px rgba(0, 0, 0, 0.12),
);

@function getColor($key) {
    @return map-get($colors, $key);
}

// Відступи
$zeroing-indent: 0px;
$section-padding: 94px;
$negative-card-indent: -15px;
$positive-card-indent: 15px;

// Анімація: час та функція
$time-animation: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);

// Інше
$number-cards: 3;
$number-features: 4;
$number-work: 3;
$number-team: 4;
$number-clients: 6;