// Розділ особливостей
.features {
    @include padding-bg-Section($section-padding, $section-padding, transparent)
}

// Список особливостей
.features__item {
    @include size-Cards($number-features);
}

// Картинка
.features__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;

    margin-bottom: 30px;
    border-radius: 4px;

    background-color: getColor('light-bg-cl');
}

// Опис особливостей
.features__subtitle {
    @include margin-Title($zeroing-indent, 10px);
    @include color-Subtitle(getColor('title'));
    @extend %subtitle;
}

.features__description {
    @include margin-Title($zeroing-indent, $zeroing-indent);

    min-width: 270px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}