// Розділ Герой
.hero {
    @include padding-bg-Section(200px, 200px, getColor('main-bg-cl'));
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
}

// Заголовок
.hero__title {
    max-width: 650px;

    margin-top: $zeroing-indent;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: getColor('white');

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

