// Розділ Герой
.hero {
    @include padding-bg-Section(118px,118px, getColor('main-bg-cl'));

    // на ПК
    @media screen and (min-width: 1200px) {
        @include padding-bg-Section(200px, 200px, getColor('main-bg-cl'));
    }
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;

    // Фонові зображення для різних екранів
    @media screen and (max-width: 576px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-480.jpg);
    }

    @media screen and (min-width: 577px) and (max-width: 960px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-768.jpg);
    }

    @media screen and (min-width: 961px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-1600.jpg);
    }
}

// Фонове зображення для retina-екранів
@media screen and (max-width: 576px) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-480-2x.jpg);
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 960px) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-768-2x.jpg);
        }
    }
}

@media screen and (min-width: 961px) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-1600-2x.jpg);
        }
    }
}

// Заголовок
.hero__title {
    max-width: 360px;

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: getColor('white');

    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    // на ПК
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        max-width: 695px;
    }
}

