// Заключна частина сайту
.page-footer {
    @include padding-bg-Section(60px, 60px, getColor('main-bg-cl'));

    // Ставлю елементи в рядок
    &__container {
        display: flex;
        align-items: center;
    }
}

// Адреса сайту
.address-link {
    color: getColor('white');

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;

    transition: color $time-animation $time-function;

    // Ховер та фокус
    &:hover {
        color: getColor('accent');
    }
}

// Контакти сайту
.page-footer__contacts {
    margin-top: 20px;
    margin-right: 70px;
}

.footer-contacts__item {
    margin-top: 9px;
}

.footer-contacts__link {
    @include contact-Link(0px, getColor('contact'));

    font-style: normal;
}

// Підзаголовок футера
.page-footer__subtitle {
    @include margin-Title(0px, 20px);
    @include color-Subtitle(getColor('white'));
    @extend %subtitle;
}