// Шапка сайту
.page-header {

    // Вирівнювання по центру
    &__container {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // Лінія під хеадером
    &--border {
        border-bottom: 1px solid #ECECEC;
    }
}

// Навігація по сайту
.page-header__nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

// Гамбургер
.nav-button {
    position: relative;
    z-index: 3;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: $zeroing-indent;
    padding: $zeroing-indent;

    width: 40px;
    height: 40px;

    color: getColor('title');
    background-color: transparent;

    border: none;

    &:hover {
        fill: getColor('accent');
    }
}

.nav-button .icon-cross {
    display: none;
}

.nav-button.is-open .icon-cross {
    display: block;
}

.nav-button.is-open .icon-menu {
    display: none;
}

//Елементи навігації
.nav__thumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: none;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 48px;

    width: 100%;
    height: auto;

    background-color: getColor('white');

    &.is-open {
        display: block;
    }
}

.nav__item:nth-child(n+2) {
    margin-top: 32px;
}

.nav__link {
    color: getColor('title');

    font-weight: $medium-weight;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color $time-animation $time-function;

    // Ховер та фокус
    &:hover,
    &:focus {
        color: getColor('accent');
    }

    // Активна ссилка
    &--active {
        color: getColor('accent');
    }
}

// Контакти сайту
.header-contacts {
    margin-top: 310px;
}

.header-contacts__item:nth-child(n+2) {
    margin-top: 32px;
}

.header-contacts__phone {
    color: getColor('accent');

    font-weight: $medium-weight;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color $time-animation $time-function;

    // Ховер та фокус
    &:hover,
    &:focus {
        color: getColor('accent');
    }
}

.header-contacts__email {
    color: getColor('primary');

    font-weight: $medium-weight;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: color $time-animation $time-function;

    // Ховер та фокус
    &:hover,
    &:focus {
        color: getColor('accent');
    }
}

// Соц-мережі сайту
.header-networks {
    position: relative;

    display: flex;
    margin-top: 64px;
}

.header-networks__item:nth-child(n+2) {

    &::before {
        content: '';
        position: absolute;

        height: 100%;
        width: 1px;
    
        background-color: rgba(33, 33, 33, 0.2);
    }
}

.header-networks__link {
    margin-right: 10px;
    margin-left: 10px;

    color: getColor('accent');

    font-weight: $medium-weight;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.link--margin-not {
    margin-left: 0;
}