// Шапка сайту
.page-header {

    // Вирівнювання по центру
    &__container {
        position: relative;

        display: flex;
        align-items: center;
    }

    // Лінія під хеадером
    &--border {
        border-bottom: 1px solid #ECECEC;
    }
}