// Розділ портфоліо
.portfolio {
    @include padding-bg-Section($section-padding-tel, $section-padding-tel, transparent);
    
    // Відступи між елементами секції
    &__filters {
        margin-bottom: 40px;
    }

    // Планшетна версія
    @media screen and (min-width: 768px) {
        &__filters {
            margin-bottom: 30px;
        }
    }

    // Комп'ютерна версія
    @media screen and (min-width: 1200px) {
        @include padding-bg-Section($section-padding, $section-padding, transparent);

        &__filters {
            margin-bottom: 50px;
        }
    }
}